Repository outpoot/vyntr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @crawler-team, @data-team, @search-team, @dictionary-team, @frontend-team, @docs-team, @devops-team

.github/CODEOWNERS:

# Vyntr CODEOWNERS file
# This file determines automatic reviewer assignments for pull requests
# Format: file_pattern @user_or_team

# Default owners for everything in the repo
* @project-leads

# Genesis (Crawler) component
/genesis/ @crawler-team
/genesis/src/ @crawler-team
/genesis/tools/ @crawler-team @data-team

# Pulse (Search) component
/pulse/ @search-team
/pulse/src/ @search-team
/pulse/migrations/ @search-team @data-team

# Lexicon (Dictionary) component
/lexicon/ @dictionary-team
/lexicon/tools/ @dictionary-team @data-team

# Website (Frontend) component
/website/ @frontend-team
/website/src/ @frontend-team
/website/drizzle/ @frontend-team @data-team

# Documentation
*.md @docs-team
/docs/ @docs-team

# CI/CD and GitHub workflows
/.github/ @devops-team
/.github/workflows/ @devops-team

misc(workflows): fix all workflow permissions and add resilience
  .github/workflows/ci.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
Owners: @devops-team

project(workflows): Recreated workflows from scratch
  .github/workflows/ci.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/python.yml
  .github/workflows/rust-ci.yml
  .github/workflows/rust.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
  .github/workflows/sveltekit-ci.yml
Owners: @devops-team

change colors to a lighter variant
  website/src/routes/search/+page.svelte
Owners: @frontend-team

website: exclude NSFW fully option | fix email
  website/drizzle/0020_mute_mattie_franklin.sql
  website/drizzle/meta/0020_snapshot.json
  website/drizzle/meta/_journal.json
  website/src/lib/components/self/AppSidebar.svelte
  website/src/lib/server/schema.ts
  website/src/lib/server/search.ts
  website/src/lib/utils.ts
  website/src/routes/+layout.server.ts
  website/src/routes/settings/+page.svelte
Owners: @frontend-team, @data-team

website: delete user | tips dialog
  website/drizzle/0021_glamorous_morph.sql
  website/drizzle/0022_overrated_justin_hammer.sql
  website/drizzle/0023_curly_madelyne_pryor.sql
  website/drizzle/0024_mushy_guardian.sql
  website/drizzle/meta/0021_snapshot.json
  website/drizzle/meta/0022_snapshot.json
  website/drizzle/meta/0023_snapshot.json
  website/drizzle/meta/0024_snapshot.json
  website/drizzle/meta/_journal.json
  website/src/lib/auth.ts
  website/src/lib/components/self/AppSidebar.svelte
  website/src/lib/components/self/TipsDialog.svelte
  website/src/lib/components/self/icon/Vyntr.svelte
  website/src/lib/server/schema.ts
  website/src/routes/api/user/+server.ts
  website/src/routes/settings/+page.svelte
Owners: @frontend-team, @data-team

website: fix /preferences endpoint not allowing excludeNsfw
  website/src/routes/api/user/preferences/+server.ts
Owners: @frontend-team

added an endpoint for getting all registry domains in json format
  website/src/routes/registry/json/+server.ts
Owners: @frontend-team

website: disable ssr
  website/src/routes/+layout.ts
Owners: @frontend-team

Revert "website: disable ssr"
  website/src/routes/+layout.ts
Owners: @frontend-team
